URI-M Headers Documentation Inaccurate

[Memento API](https://pywb.readthedocs.io/en/latest/manual/memento.html) documentation is using the term `URL-M` which is not a thing in the [Memento RFC](https://tools.ietf.org/html/rfc7089), instead, I think you meant `URI-M`.

Other than that, there is another issue originally pointed out by @hvdsomp and investigated by @phonedude, @N0taN3rd and @ibnesayeed (me) in the following emails.

```

Hi Sawood, John,

Herbert brought this to my attention today:

http://pywb.readthedocs.io/en/latest/manual/memento.html

URL-M Headers

When serving a URL-M (any archived url), the following additional headers 
are included in accordance with Memento spec:

     Vary: accept-datetime is included as required
...


Of course, URI-Ms are *not* supposed to Vary: accept-datetime headers.  I 
get that it would be appropriate if the URI-G sends the URI-M and marks 
the actual URI-M in Content-Location (i.e., pattern 2.2), but just by 
itself URI-Ms do not vary in time.

I tried to check this with an actual pywb installation, but the only one I 
could remember off the top of my head is perma.cc:

$curl -I https://perma.cc/89QJ-Y632
HTTP/1.1 200 OK
Date: Thu, 01 Feb 2018 15:20:40 GMT
Content-Type: text/html; charset=utf-8
Connection: keep-alive
Vary: Cookie, Host
...

which is doing the right thing, but perhaps perma.cc has an older version?

anyway, could you guys verify what pywb does and open an issue if in fact 
URI-Ms are claiming to Vary when they aren't?

thanks,

Michael
```

```
Dr. Nelson,

As far as I can tell perma is utilizing an older version and heavily modified version of pywb.

Per "Vary: accept-datetime is included as required" from the documentation of pywb 2.0.
I believe Ilya was not clear about where it is used in the documentation
Per section 2.1.2 in RFC7089, pywb is sending Vary when dealing with the TimeGate (implementation, tests).

- John
```

```
I just ran the latest version of PyWB locally for testing and found that it does not return Vary header on URI-Ms. However, it does return 404 when a HEAD request is made to the same URI-M, which is troubling.

 
$ curl -I http://localhost:8090/example/20180130165754/http://archive.is/0I3lN
HTTP/1.1 404 Not Found
Content-Type: text/html
Content-Length: 103

 
 
$ curl -i --silent http://localhost:8090/example/20180130165754/http://archive.is/0I3lN | more
HTTP/1.1 200 OK
Date: Tue, 30 Jan 2018 16:57:34 GMT
X-Archive-Orig-Cache-Control: maxage=300
X-Archive-Orig-Expires: Tue, 30 Jan 2018 17:02:36 GMT
Content-Type: text/html;charset=utf-8
Memento-Datetime: Mon, 29 Jan 2018 16:35:37 GMT
Link: <http://www.webcitation.org/6wpvMY8e1>; rel="original", <http://archive.is/timegate/http://www.webcitation.org/6wpvMY8e1>; rel="timegate", <http://archive.is/timemap/http://www.webcitation.org/6wpvMY8e1>; rel="timemap"; type="application/link-format"; from="Mon, 29 Jan 2018 16:35:37 GMT"; until="Mon, 29 Jan 2018 16:35:37 GMT", <http://archive.is/20180129163537/http://www.webcitation.org/6wpvMY8e1>; rel="first last memento"; datetime="Mon, 29 Jan 2018 16:35:37 GMT"
X-Archive-Orig-Access-Control-Allow-Origin: *
X-Archive-Orig-Vary: Accept-Language
X-Archive-Orig-Server: nginx/1.9.2
Accept-Ranges: bytes
Memento-Datetime: Tue, 30 Jan 2018 16:57:54 GMT
Link: <http://archive.is/0I3lN>; rel="original", <http://localhost:8090/example/http://archive.is/0I3lN>; rel="timegate", <http://localhost:8090/example/timemap/link/http://archive.is/0I3lN>; rel="timemap"; type="application/link-format", <http://localhost:8090/example/20180130165754/http://archive.is/0I3lN>; rel="memento"; datetime="Tue, 30 Jan 2018 16:57:54 GMT"; collection="example"
Content-Location: http://localhost:8090/example/20180130165754/http://archive.is/0I3lN
Content-Security-Policy: default-src 'unsafe-eval' 'unsafe-inline' 'self' data: blob: mediastream: ws: wss: ; form-action 'self'

<!DOCTYPE html PUBLIC...

Best,

--
Sawood Alam
```

Thanks all for checking the Memento documentation!

To summarize, it seems like the issues are:
- Error in docs, should be URI-M not URL-M
- Error in docs, about Vary header being included for URI-M. The actual implementation correctly includes `Vary: Accept-Datetime` only for TimeGates.
- A separate, unrelated bug with HEAD requests

* Yes
* Yes
* Yes

Fixed as part of pywb 2.0.3 release.

Thanks @ikreymer for these fixes.

> The timemap (**URL-T**) can be provided in several output formats, as specified by the `<type>` param:

However I feel like the use or `(URL-T)` in the docs is also unnecessary. It is not something that I have seen being used in Memento docs to describe a TimeMap.

The Memento RFC uses URI-T, changed it to that in 2.0.4